<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header-container">
    <div class="logo-container">
        <div class="dl-logo-circle dl-logo"></div>
    </div>
    <div class="header-title">Demo recorder app</div>
</div>
<div class="global-bar"></div>

<div class="body">
    <div class="left-pane">
        <div class="user-list-container">
            <div class="user-list-title mb-3">User List:</div>
            <table class="table">
                <tr th:each="user : ${users}" class="user-item">
                    <td th:text="${user.getData().get('email')}"></td>
                    <td>
                        <button class="btn btn-info"
                                th:data-type="'activated'"
                                th:data-email="|${user.getData().get('email')}|"
                                onclick="setActivatedUser(this.getAttribute('data-type'), this.getAttribute('data-email'));">Activated</button>
                    </td>
                    <td>
                        <button class="btn btn-info"
                                th:data-type="'sendtext'"
                                th:data-email="|${user.getData().get('email')}|"
                                onclick="setActivatedUser(this.getAttribute('data-type'), this.getAttribute('data-email'));">Send Text</button>
                    </td>
                    <td>
                        <button class="btn btn-info"
                                th:data-type="'sendimage'"
                                th:data-email="|${user.getData().get('email')}|"
                                onclick="setActivatedUser(this.getAttribute('data-type'), this.getAttribute('data-email'));">Send Message</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pane"></div>
</div>
</body>
</html>
